// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$sand: #f8b400;
$clear-sand : #faf5e4;
$forest : #004445;
$clear-forest : #2c786c;

$logo-sun : #EB683E;
$logo-clear-palm : #34AB34;
$logo-dark-palm : #198819;
$logo-sand : #F8E089;
