.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.cards-booking {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .card-booking {
    width: 40%;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  }
  
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .cards-booking {
    display: block;
    .card-booking {
      width: 100%;
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius : 30px;
}

.card-title {
    margin-bottom: 1.75rem;
}

.island-image {
    position: absolute;
    bottom: -45px;
    width: 200px;
    text-align: center;
    filter: brightness(0.8);
}

.number_of_guests {
    position: absolute;
    bottom: 8px;
    left: 24px;
    font-family: Muli;
    font-size: 16px;
}

.price {
    position: absolute;
    bottom: 8px;
    right: 24px;
    font-size: 16px;
}

.floating {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}
