.main-container-center {
  display: flex;
  align-items: top;
  justify-content: space-evenly;
}

.main-container-item-white-info {
    background: #00000091;
    padding: 33px;
    margin-top: 54px;
    border-radius: 10px;
    color: white;
  }

.main-container-item-white-booking {
    background: white;
    padding: 33px;
    margin-top: 54px;
    border-radius: 10px;
    color: $secondary;
    max-width: 359px;
}


@media (max-width: 576px) {
  .main-container-center {
    flex-direction: column;
    align-items: center;
  }
  .main-container-item-white {
    background: white;
    width: 95%;
    padding: 10px;
    margin: 2px;
  }

}
