.navbar-lewagon {
  justify-content: space-between;
  // position: absolute;
  width: 100%;
  // background: rgba(255,255,255,0);
  background: rgba(255,255,255,0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li.nav-item.dropdown {
  cursor: pointer;
}

a.nav-link {
  font-weight: bold;
  color: white !important;
}

#login > a {
  color: rgba(0, 0, 0, 0.7) !important;
}

div.collapse.navbar-collapse {
  position: relative;
}

#login {
  border-left: 1px solid lightgrey;
}

#navbarDropdown {
  box-shadow: 2px 2px 6px $secondary
}
