*
{
    outline: none;
}

#home-search {
    position: absolute;
    top: 129px;
    left: 50px;
}

.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

#home-search input, button
{
    color: #7A7A7A;
    font-family: 'Muli';
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 750px;
    padding: 12px;
    margin: -83px auto 0 auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 40px white, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

#home-search form
{
    height: 96px;
}

#home-search input[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 3em;
    font-family: Muli;
    line-height: 1;
}

#home-search input[type="text"]::placeholder
{
    color: #e0e0e0;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

#home-search button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
    left: 600px;
    up: 35px;
    bottom: 121px;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 70px;
    height: 70px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid $sand;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

#home-search button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

#home-search button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: $sand;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: $sand;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: $sand;
}
